#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: #E2EFDE;
}

#hero-img {
    width: 100%;
}

.logo ,.icon{
    width: 80px;
}

nav a , #hero-msg h1, #hero-msg h4, .button-box , main section {
    text-align: center;
}

body {
    background-color: #E2EFDE;
    margin: 0;
    padding: 0;
    font-family: Garamond, "Courier New", "Times New Roman";
    font-size: 22px;
}

header {
    background-color: #9B7E46;
}

nav a:hover {
    background-color: #297373;
    color: #CD533B;
}

.book, .join {
    color: #CD533B;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #FF8552;
    color: khaki;
}

.msg {
    background-color: cadetblue;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: darkorchid;
    color: powderblue;
    padding: 25px 50px;
    margin-top: 200px;
}

h2 {
    margin: 0;
}

nav a {
    color: #4E6659;
    text-decoration: none;
    padding: 35px;
}

.home-title {
    color: rebeccapurple;
    font-family: "Trebuchet MS", Verdana, Georgia;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: deepskyblue;
}

.msg h2 {
    color: #297373;
    font-family: "Trebuchet MS", Verdana, Georgia ;
}

.msg p {
    color: lightsalmon;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer a {
    color: springgreen;
    text-decoration: none;
}

footer a:hover {
    color: tan;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

icon {
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card .camping-card .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}